# Postgres Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_NAME=producttrace_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=producttrace_db
POSTGRES_SSLMODE=disable

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

# RabbitMQ Configuration
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_EXCHANGE=amq.topic

# Ports
GO_CORE_PORT=8080
NEST_PORT=3000

# Service URLs
GO_CORE_URL=http://go-core-service:8080

# SendGrid Configuration
SENDGRID_API_KEY=your_sendgrid_api_key_here
FROM_EMAIL=your_verified_email@example.com
TEMPLATE_ID=your_template_id_here
