# Postgres Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_NAME=producttrace_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=producttrace_db
POSTGRES_SSLMODE=disable

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

# RabbitMQ Configuration
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_EXCHANGE=amq.topic

# Ports
GO_CORE_PORT=8080
NEST_PORT=3000

# Service URLs
GO_CORE_URL=http://go-core-service:8080

# SendGrid Configuration
SENDGRID_API_KEY=my_api_key
SENDGRID_FROM_EMAIL=khangpd.ce191105@gmail.com
FROM_EMAIL=khangpd.ce191105@gmail.com
VERIFY_EMAIL_TEMPLATE_ID=d-2f4c59aea28d4a6b9de86adb83efba93
WELCOME_TEMPLATE_ID=d-627f09c752d6415f8bec889d230f07b9
WELCOME_EMAIL_TEMPLATE_ID=d-627f09c752d6415f8bec889d230f07b9
RESET_PASSWORD_TEMPLATE_ID=d-76dced8ef3f6486aa296d2b25899b24e
WARRANTY_UPDATE_TEMPLATE_ID=d-aa9b56ba4bf64b54a72eddc7ba33ba03
OWNERSHIP_TRANSFERRED_TEMPLATE_ID=d-1f78adcf1e3644e6bee66c2ea402af69
