SENDGRID_API_KEY=your_sendgrid_api_key_here
SENDGRID_FROM_EMAIL=noreply@yourdomain.com
VERIFY_EMAIL_TEMPLATE_ID=your_verify_email_template_id_here
WELCOME_EMAIL_TEMPLATE_ID=your_welcome_email_template_id_here
FRONTEND_URL=http://localhost:5173
JWT_SECRET=your_super_secret_jwt_key
PORT=3000
WARRANTY_UPDATE_TEMPLATE_ID=d-aa9b56ba4bf64b54a72eddc7ba33ba03
